{% extends "base.html" %}

{% block title %}Admin Dashboard | Plants Library{% endblock %}

{% block body %}
<div class="row pad">
    <div class="col-lg-6 pad">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Orders List</h3>
            </div>
            <div class="panel-body">
                List of orders
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th><th>REF</th><th>Customer</th><th>Total</th><th>Status</th><th>Delete order</th><th>Delivery Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order['order_id'] }}</td>
                            <td><a href="{{ url_for('order', order_id=order['order_id']) }}">{{ order['reference'] }}</a></td>
                            <td>{{ order['first_name'] }} {{ order['last_name'] }}</td>
                            <td>&#X20b9;{{ order['total_amt']  }} </td>
                            <td><span class="badge">{{ order['status'] }}</span></td>
                            <td>
                                <p>
                                        <a href="{{ url_for('delete_order', order_id=order['order_id'] ) }}">
                                    <button type="button" class="btn btn-danger btn-xs">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    </button></a>
						        </p>
                            </td>
                            <td>
                                {% if order['delivery_date'] is not none %}
					<p>
						<i class="glyphicon glyphicon-gift"></i>
						 <strong>{{ order['delivery_date'] }}</strong>
					</p>
					{% else  %}
					<p>
						<i class="glyphicon glyphicon-gift"></i>
						<strong>Yet to be released</strong>
					</p>
					{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
